#nav-item
{
margin-top: 2%;
margin-bottom: 2%;
}
.img{
    margin-right: 2%;
    margin-left: 2%;
    
}
.container{
    margin-top: 7%;
    margin-left: 3%;
}
.side-bar
{
    border: 2px solid white;
    width: 40%;
    float: right;
    background-color: white;
    margin-right: 2%;
    margin-bottom: 3%;
    height: 11em;
    padding: 2px;
    text-align: justify;
}
.img2{
    margin-left: 15%;
    margin-top: 4%;
}
.sticky-top{
    position: sticky;
}
.h1{
    text-align: center;
    margin-top: 1%;
}
#img-ran{
    margin-right: 2%;
}
#img-km{
    margin-left:2% ;
}
#img-mnnr{
    margin-right: 2%;
}
#home-cont
{
    background-color: white;
    border: solid white;
    margin: 5%;
    padding-bottom: 2%;
}
#p2{
    margin-top:4% ;
}
#p3{
    margin-top: 4%;
    margin-left: 2%;
}
#content{
  margin-right: 45%;
  margin-left: 1%;
  padding-left: 1%;;
  text-align: justify;
}
#cont-left{
  text-align: justify;
  margin-right: 2%;
  margin-left: 41%; 
}
#cont-rgt{
    margin-right: 38%;
    padding-left: 2%;
    padding-right: 3%;
    text-align: justify;
}
#sidetab{
    float: right;
    height: 15em;
    width: max-content;
    margin-top: 1%;
    margin-right: 1%;
    padding: 30px;
    margin-left: 66%;
}
body{
    background-size: cover;
}
.login{
    float: right;
    height: 15em;
    margin-top: 5%;
    margin-right: 2%;
    padding: 30px;
}
.container{
    text-align: justify;
    margin-top: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
.row{
    padding:2%;
    padding-left: 5%;
}
.ksd-image{
    padding: 1%;
    margin-left: 2%;
    
}
.klm-image{
    padding: 1%;
    margin-left: 2%;
}
.alp-img{
    padding: 1%;
    margin-left: 2%;
}
.idk-img{
    padding: 1%;
    margin-left: 2%;  
}
.login-misc{
    padding-top: 1em;
}
.myMargin
{
    margin-top: 1%;
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus{
    box-shadow: 0 0 5px rgba(246, 8, 110,0.8);
    border: 1px solid rgba(231, 121, 169, 0.8);
}
.control-label {
    text-align: left !important;
    padding-bottom: 4px;
}
.progress {
    height: 5px !important;
}
.form-group {
    margin-bottom: 10px;
}
.show-pass{
    position: absolute;
    top:17%;
    right: 4%;
}
.progress-bar-danger {
    background-color: #e90f10;
}
.progress-bar-warning{
    background-color: #ffad00;
}
.progress-bar-success{
    background-color: #02b502;
}
.fa-eye{
    color: #022255;
    cursor: pointer;
}
.ex-account p a{
    color: #f6086e;
    text-decoration: underline;
}
.fa-circle{
    font-size: 6px;  
}
.fa-check{
    color: #02b502;
}
